.progressbar{
  width: 1%;
}
.container{
    width: 100%;
}
.table{
    width: 60%;
    text-align: left;
    /* margin-left: -105px; */
}
.recentd{
  font-weight: normal;
  color: grey;
  margin-left: 15px;
}

.col{
  font-weight: normal;
  color: rgb(64, 64, 64);
}
.name{
  font-weight: 600;
}